@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Outfit&family=Source+Code+Pro&display=swap");

.logo {
  font-family: "Bangers";
  font-size: 50px;
  color: maroon;
  text-decoration: none;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginIcon {
  height: 100px;
  width: 120px;
}

.loginHeading {
  padding: 20px;
  font-size: 32px;
  font-weight: 650;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.loginForm input {
  height: 50px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
}

.username {
  margin-bottom: 30px;
}

.passwordContainerMargin {
  margin-bottom: 30px;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.password {
  height: 50px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 50px;
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: maroon;
}

.loginButton {
  border: 0px;
  background-color: maroon;
  height: 50px;
  color: white;
  border-radius: 5px;
  width: 100%;
}

.loginButton:hover {
  background-color: rgb(145, 54, 54);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
  font-size: 15px;
}

.loginContainer > span {
  padding-bottom: 10px;
}

.loginContainer a {
  text-decoration: none;
  color: maroon;
}

.errorMessageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
}

.errorMessageContainer {
  border: 2px solid rgb(191, 8, 8);
  border-left: 10px solid rgb(191, 8, 8);
}

.errorMessageContainer span {
  color: #e74c3c;
  margin-left: 10px;
}

@media (max-width: 400px) {
  .loginForm,
  .loginForm input,
  .passwordContainer,
  .errorMessageContainer {
    width: 100%;
  }

  .loginContainer {
    font-size: 14px;
  }

  .loginForm {
    margin-bottom: 80px;
  }
}
