.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  justify-content: space-between;
  height: 100vh;
  background-color: #f7f7f7;
}

.registerIcon {
  height: 100px;
  width: 120px;
}

.registerHeading {
  padding: 20px;
  font-size: 32px;
  font-weight: 650;
  margin: 0 auto;
  color: #2c3e50;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.registerForm input {
  height: 50px;
  width: 300px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding-left: 20px;
  transition: border 0.3s ease;
}

.registerForm > input,
.passwordContainer {
  margin-bottom: 22px;
}

.registerButton {
  border: 0px;
  background-color: #008c7a;
  height: 50px;
  color: white;
  border-radius: 5px;
  width: 300px;
  font-weight: bold;
  cursor: pointer;
  /* margin-top: 20px; */
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.password {
  height: 50px;
  width: 300px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 50px;
  transition: border 0.3s ease;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #008c7a;
}

.loginContainer {
  margin: 25px 0px;
}

.loginContainer a {
  text-decoration: none;
  color: #008c7a;
}

.errorMessageContainer,
.successMsgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
}

.errorMessageContainer {
  border: solid rgb(191, 8, 8) 2px;
  border-left: solid 3px rgb(191, 8, 8) 10px;
}

.successMsgContainer {
  border: solid green;
  border-left: solid 4px rgb(4, 80, 4);
}

.errorMessageContainer span {
  color: #e74c3c;
  margin: 0 10px;
}

.successMsgContainer span {
  color: green;
  margin: 0 10px;
}

@media (max-width: 400px) {
  .registerForm,
  .registerForm input,
  .passwordContainer,
  .confirmPasswordContainer,
  .registerButton {
    width: 100%;
  }

  .loginContainer,
  .tPContainer {
    font-size: 14px;
  }

  .registerForm {
    margin-bottom: 30px;
  }

  .registerHeading {
    font-size: 8.4vw;
  }
}

.securityQuestion,
.securityAnswer {
  height: 50px;
  width: 300px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 22px;
  transition: border 0.3s ease;
}

.securityQuestion:focus,
.securityAnswer:focus {
  border: 1px solid #008c7a;
  outline: none;
}
