@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Outfit&family=Source+Code+Pro&display=swap");

.logo {
  font-family: "Bangers";
  font-size: 50px;
  color: maroon;
  text-decoration: none;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  height: 100vh;
}

.registerIcon {
  height: 100px;
  width: 120px;
}

.registerHeading {
  padding: 20px;
  font-size: 32px;
  font-weight: 650;
  color: #2c3e50;
  text-align: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerForm input {
  height: 50px;
  width: 300px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 22px;
  transition: border 0.3s ease;
}

.registerButton {
  border: none;
  background-color: maroon;
  height: 50px;
  color: white;
  border-radius: 5px;
  width: 300px;
  font-weight: bold;
  cursor: pointer;
}

.registerButton:hover {
  background-color: rgb(145, 54, 54);
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  bottom: 50%;
  cursor: pointer;
  color: maroon;
}

.loginContainer {
  margin: 25px 0;
}

.loginContainer a {
  text-decoration: none;
  color: maroon;
}

.errorMessageContainer,
.successMsgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
}

.errorMessageContainer {
  border: 2px solid rgb(191, 8, 8);
  border-left: 10px solid rgb(191, 8, 8);
}

.successMsgContainer {
  border: 2px solid green;
  border-left: 4px solid rgb(4, 80, 4);
}

.errorMessageContainer span {
  color: #e74c3c;
  margin-left: 10px;
}

.successMsgContainer span {
  color: green;
  margin-left: 10px;
}

@media (max-width: 400px) {
  .registerForm,
  .registerForm input,
  .passwordContainer,
  .registerButton,
  .errorMessageContainer,
  .successMsgContainer {
    width: 100%;
  }

  .loginContainer {
    font-size: 12px;
  }

  .registerForm {
    margin-bottom: 30px;
  }

  .registerHeading {
    font-size: 8.4vw;
  }
}
