@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Outfit&family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #fff;
  padding: 40px 20px;
  font-family: "Outfit";
}

.companyInfo h2 {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: "Bangers";
  color: white;
}

.companyInfo p {
  font-size: 14px;
}

.footerSections {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.footerSection {
  display: flex;
  flex-direction: column;
}

.footerSection h3 {
  font-size: 18px;
  color: white;
  margin: 10px;
}

.footerSection ul {
  list-style: none;
}

.footerSection ul li {
  margin-bottom: 15px;
}

.footerSection ul li a {
  color: #9e9e9e;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footerSection ul li a:hover {
  color: #f39c12;
  text-decoration: underline;
}

.socialLinks {
  display: flex;
  flex-direction: column;
}

.socialLinks li {
  margin-bottom: 8px;
}

.socialLinks li a {
  color: #ccc;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.socialLinks :global(.MuiSvgIcon-root) {
  font-size: 32px;
  color: white;
  margin: 0 8px;
  transition: transform 0.1s ease, color 0.1s ease;
}

.socialLinks :global(.MuiSvgIcon-root:hover) {
  color: rgb(178, 178, 178);
}

.socialLinks li a:hover {
  color: #f39c12;
  text-decoration: underline;
}

.subscribeEmailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribeEmailContainerHeading {
  font-size: 18px;
  color: white;
}

.emailContainer {
  display: flex;
  align-items: center;
  width: 400px;
  height: 50px;
  margin: 20px 0;
}

.emailContainer input {
  height: 100%;
  margin: 0px;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.emailContainer span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: maroon;
  color: white;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  height: 50px;
}

.emailContainer span:hover {
  background-color: rgb(145, 54, 54);
}

.footerBottom {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #bbb;
}

@media (max-width: 768px) {
  .companyInfo {
    margin-bottom: 0px;
  }

  .footerSections {
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }

  .socialLinks {
    flex-direction: row;
  }

  .footerSection {
    text-align: center;
    margin: 10px 0;
  }

  .emailContainer {
    width: 70vw;
  }

  .footerSection ul li {
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .footerSection h3 {
    font-size: 16px;
  }

  .footerSection ul li a {
    font-size: 12px;
  }

  .footerBottom {
    font-size: 12px;
  }

  .emailContainer {
    width: 100%;
  }

  .emailContainer span {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
  }
}
