@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Outfit&family=Source+Code+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
}

:global(body.menuOpen) {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.logoNavbarContainer {
  background-color: maroon;
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
}

.logo {
  font-family: "Bangers";
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Outfit";
}

.navLink {
  display: flex;
  align-items: center;
}

.navLink:hover {
  color: rgb(220, 220, 220);
}

.navLink:hover .cartIcon,
.navLink:hover .accountIcon {
  color: rgb(220, 220, 220);
}

.cartQuantity {
  display: none;
}

.navLink span {
  margin-left: 5px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 5px;
  font-weight: bold;
  font-size: 15px;
}

.cartIcon {
  margin-left: 30px;
}

.cartIcon,
.accountIcon {
  color: white;
  font-size: 25px;
}

.menuSearchContainer {
  display: flex;
  align-items: center;
  background-color: rgb(145, 54, 54);
  padding: 10px 50px;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 500px;
  margin-left: 10px;
}

.search input {
  font-size: 15px;
  width: 100%;
}

.searchButton {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  color: maroon;
  font-size: 20px;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .logoNavbarContainer {
    padding: 10px 10px;
  }

  .logo {
    font-size: 30px;
  }

  .navLink span {
    display: none;
  }

  .accountIcon,
  .cartIcon,
  .searchButton {
    font-size: 17px;
  }

  .menuSearchContainer {
    padding: 10px 10px;
  }

  .search {
    width: 100%;
  }

  .cartIcon {
    margin-left: 10px;
  }
}
