@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Outfit&family=Source+Code+Pro&display=swap");

.menuHeading {
  background-color: maroon;
  display: block;
  padding: 10px;
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  color: white;
}

.menuOverlay {
  font-family: "Source Code Pro";
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background: #fff;
  z-index: 1001;
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  will-change: transform;
}

.menuButton {
  cursor: pointer;
  color: white;
  margin: 0 5px;
  font-weight: bold;
  font-size: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.multiMenuUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.multiMenuLi {
}

.multiMenuItem {
  display: flex;
  align-items: center;
  padding: 12px 18px;
}

.multiMenuLabel {
  cursor: pointer;
  flex: 1;
}

.multiMenuArrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}

.multiMenuArrow::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.multiMenuArrow.toggle::after {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  .menuOverlay {
    width: 75vw;
  }
}
