@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Outfit&family=Source+Code+Pro&display=swap");

.newPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  font-family: "Bangers";
  font-size: 50px;
  color: maroon;
  text-decoration: none;
  margin: 20px 0;
}

.loadingMessage {
  font-size: 20px;
  margin: 20px 0;
}

.passwordForm {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px 0;
}

.passwordForm input {
  margin: 20px 0;
  height: 50px;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordToggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: maroon;
}

.submitButton {
  border: none;
  background-color: maroon;
  height: 50px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(145, 54, 54);
}

.errorMessageContainer,
.successMsgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  margin: 20px 0;
}

.errorMessageContainer {
  border: 2px solid rgb(191, 8, 8);
  border-left: 10px solid rgb(191, 8, 8);
}

.successMsgContainer {
  border: 2px solid green;
  border-left: 4px solid rgb(4, 80, 4);
}

.errorMessageContainer span {
  color: #e74c3c;
  margin-left: 10px;
}

.successMsgContainer span {
  color: green;
  margin-left: 10px;
}

@media (max-width: 400px) {
  .passwordForm,
  .passwordForm input,
  .passwordContainer,
  .submitButton,
  .errorMessageContainer,
  .successMsgContainer {
    width: 100%;
  }

  .passwordForm {
    margin-bottom: 30px;
  }

  .heading {
    font-size: 8.4vw;
  }
}
