.reset {
  display: flex;
  flex-direction: column;
  padding: 35px;
  align-items: center;
  justify-content: space-between;
  /* height: 100vh; */
}

.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 25px 0px;
}

.loginContainer a {
  text-decoration: none;
  color: #008c7a;
}

.resetIcon {
  height: 100px;
  width: 120px;
}

.resetHeading {
  padding: 20px;
  font-size: 32px;
  font-weight: 650;
}

.resetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.resetForm input {
  height: 50px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.resetButton {
  border: 0px;
  background-color: #008c7a;
  height: 50px;
  color: white;
  border-radius: 5px;
  width: 100%;
}

.errorMessageContainer {
  width: 100%;
  justify-content: start;
  color: red;
  margin: 10px 0 30px 0;
  display: none;
}

.errorMessageContainer.active {
  display: flex;
}

.errorMessageContainer h6 {
  font-size: 13px;
}

.errorMessageContainer img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

@media (max-width: 400px) {
  .resetForm,
  .resetForm input {
    width: 100%;
  }

  .resetButton {
    width: 100%;
  }
}
